.filterTableButton {
	border: solid 1px green;
}
.upboro{text-transform:uppercase;}
	
.group {
	background-color: yellow !important;
}
.row{
	padding-top: 50px;
}
body {
	background-color: white;
}
.jobno{
	margin-left: 20px;	
}
div.tooltip {
	font-weight: bold;
	padding: 10px;
	border: 2px solid white;
	border-radius: 7px; 
	box-shadow: 0px 0px 2px 0px #a6a6a6; 
	opacity: 0.9; 
	position: absolute;
	visibility: hidden;
	color:white;
	background-color:RGB(40,56,124);
	
}
#map {
	height: 100%;
	width: 100%;
	background-color: #333;
	pointer-events: all;
}
#table-container{
	height: 890px;
	width: 100%;
	display: block;
	background-color: white;
}

#img{
	float: left;
	height: 35px;
	margin-left: 10px;
	padding-right: 10px;
}

.missingCat{
	background-color: #808080;
}
.approvedCat{
	fill: #0fb300;	
	background-color: #0fb300 !important;	
	fill-opacity: .7;
}
.essentialCat{
	fill: #0000cc;
	background-color: #0000cc !important;
	fill-opacity: .7;
}
.zoomedPoint{
	stroke-width:1px;
	stroke:red;
	fill: #red;
	border: 3px double red;
	r: 1;
}

* [class*='Cat'] :not(circle){
	color:white !important;
	font-weight: 900 !important;
	font-size:1.5em !important;
	border:solid grey 1px;
	text-align: center;
}

#riskTable{
	height: 100%;
	font-size: 10px;
}
td.details-control {
	background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
	zcursor: pointer;
}
tr.shown td.details-control {
	background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
	zcursor: pointer;
}
tr[role="row"]:hover td {
	background-color: #e8e8e8;
	cursor: pointer;
}
.logo{
	background-image: url('https://nycdob.github.io/EssentialActiveConstruction/images/dob_logo_white.png');
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	background-size: 70px;
	height: 50px;
	width: 70px;	 
}
.ui {
	top: 10px;
	left: 50px;
	padding: 8px;
	position: absolute;
	background-color: #fff;
	border: 2px solid #707070;
	border-radius: 7px;
	width: 175px;
}
.dataTables_empty {
  display:none;
}
.asofDate{
	font-size:16px;
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-left: -100px;
  margin-top: 100px;
  text-align: center;
  padding: 1em 0;
  z-index: 1;
}
@media( max-width:1200px){
		.dobmain	{
			padding-top:50px
		}
}